<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Idea description</th>
      <th>Skill description</th>
      <th>User</th>
      <th>Role Status<th>
      <th>Platform</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.idea_description %></td>
        <td><%= idea.skill_description %></td>
        <td><%= idea.user.name %></td>

        <td><% idea.roles.all.each do|role| %> 
          <ul>
            <li>
              <%= role.name%> - 
              <% if idea.idears.find_by(role_id:role.id).filled? %>
              <%= User.find_by(id:(idea.idears.find_by(role_id:role.id).user_id)).name %>
              <% else %>
              <%= link_to 'Register', idear_path(idea.idears.find_by(role_id: role.id)) %> 
          <% end %>
            </li>
           </ul>
           <% end %>

           </td>
        <td><%= idea.platform.name%></td>
        <td><%= link_to 'Show', idea %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Idea', new_idea_path %>

