<p id="notice"><%= notice %></p>

<center> <h4> <font color="white"> IDEAS </font> </h4> </center>
<center>
sort by: <%= link_to 'Ascending', ascending_path %> - 
<%= link_to 'Descending', descending_path %> - 
<%= link_to 'Newest to Oldest', newest_path %> -
<%= link_to 'Oldest to Newest', oldest_path %>
</center>
<center>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Idea description</th>
      <th>Skill description</th>
 

      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.idea_description %></td>
        <td><%= idea.skill_description %></td>
    

        <td><%= link_to 'Show', idea %></td>

        <% if logged_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Idea', new_idea_path %> |
<%= link_to 'More Idea Details', ideadetails_path %>
