<%= simple_form_for(@idear) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :role_id %>
    <%= f.input :user_id %>
    <%= f.input :idea_id %>
    <%= f.input :filled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
